<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trinta.bruno.udraw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.connectedHome.ConnectedHome" />
        <activity android:name=".activities.SearchPage" />
        <activity
            android:name=".activities.VideoRecorder"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ProfileScreen" />
        <activity android:name=".activities.CreateAccount" />
        <activity android:name=".activities.ImagesFromVideo" />
    </application>

    <!-- Permissions for cameras and internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- features utilisés -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


</manifest>